.mobile-announcement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #323232;
    z-index: 2;
}

@media only screen and (max-width: 1000px) {
    .builder {
        flex-direction: column;

        .builder-preview {
            flex: unset !important;
            min-height: unset;

            .pass-container {
                margin: 1em;
                width: 100%;
                max-width: 800px;
            }
        }

        .builder-options {
            flex-grow: 1;
            width: 100vw !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    .builder {
        .builder-preview {
            .pass-container {
                margin: 0 0 1em 0;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .mobile-announcement {
        display: none;
    }
}

.hidden-in-tiny-mobile {
    @media screen and (max-width: 500px) {
        display: none !important;
    }
}
