@import "custom/var";
@import "custom/form";
@import "custom/text";
@import "custom/mobile";
@import "custom/builder";
@import "custom/scrollbar";
@import "custom/pass";

html body {
    background-color: #323232;

    ::selection {
        background: #662954;
        color: white;
    }

    ::-moz-selection {
        background: #662954;
        color: white;
    }

    a {
        color: $linkColour;
    }
}

.pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.max-lines-1 {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.row.no-space {
    margin-left: 0;
    margin-right: 0.5em;
}

.inner.wide {
    max-width: 86em !important;
}